services:
  app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      # These ports are in format <host-port>:<container-port>
      - '80:80' # Public HTTP Port
      - '443:443' # Public HTTPS Port
      - '81:81' # Admin Web Port
      - '25565:25565' # icykhaye community minecraft server
      - '24454:24454/udp' # icykhaye community minecraft server voip
      - '42069:42069' # minecraft atm9 server
      - '33333:33333' # vanilla minecraft server
      - '33334:33334' # wildcard minecraft server
      - '5520:5520/udp' # hytale server
      # Add any other Stream port you want to expose
      # - '21:21' # FTP

    # environment:
    #   # Uncomment this if you want to change the location of
    #   # the SQLite DB file within the container
    #   # DB_SQLITE_FILE: "/data/database.sqlite"

    #   # Uncomment this if IPv6 is not enabled on your host
    #   # DISABLE_IPV6: 'true'

    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
